.homepage {
    
}

.titleContainer {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    max-width: 100%;
    padding: 8px;
    background-color: #d6ebff;
}

.featuredTitle {
    text-align: center;
}

.featured {
    display: grid; justify-content: center; gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    max-width: 90%;
    margin: 0 auto;
    /* font-size: 1rem; */
}

@media (max-width: 800px) {
    .featured {
        display: grid;
        grid-template-columns: 1fr;
    }
}