.shopPage {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    max-width: 100%;
    margin-bottom: 3rem;
}

.shopTitle {
    padding: 16px;
}

.shop {
    display: grid; justify-content: center; gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    margin: 0 auto;
    width: 90%;
}

.loading, .error {
    display: flex; justify-content: center; align-items: center;
    min-height: 100vh;
    font-size: 100px;
    text-align: center;
}

@media (max-width: 600px) {
    .shop {
        display: grid; justify-content: center; align-items: center;
        grid-template-columns: 1fr; 
        margin: 0 auto;
    }
}