.productCard {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    max-width: 100%;
    background-color: #d6d6d6;
    border-radius: 20px;
    text-align: center;

    img {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .productCard {
        max-width: 95%;

        img {
            max-width: 60%;
        }
    }
}