.overlay {
    composes: overlay from '../ProductCard/ProductCard.module.css';
}

.popup {
    composes: popup from '../ProductCard/ProductCard.module.css';
}

.closeBtn {
    composes: closeBtn from '../ProductCard/ProductCard.module.css';
}

.closeBtn:hover {
  color: orange;
  cursor: pointer;
}