.cartPage {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 100%; min-height: 100%;
}

.cart {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.cartList {
    display: grid; justify-content: center; gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    padding: 0;
    text-align: center;
    max-height: inherit;
}

.cartItem {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    max-width: 100%;
    padding: 12px;
    background-color: #d6d6d6;
    border-radius: 20px;
    text-align: center;
    list-style: none;

    img {
        width: 60%;
        object-fit: contain;
    }
}

.itemActions {
    display: flex; flex-direction: column; justify-content: center; align-items: center;

    .quantity {
        display: flex; justify-content: center; align-items: center; gap: 12px;
    }

    button:hover {
        cursor: pointer;
    }
}

.checkout {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    font-size: x-large;
    margin-bottom: 12px;

    button {
        width: 15%; height: 40px;
        text-align: center;
    }
    button:hover {
        cursor: pointer;
    }
}

.removeBtn {
    display: flex; justify-content: center; align-items: center; gap: 4px;
    text-align: center;
}
.removeBtn:hover {
    cursor: pointer;
}

.overlay {
    composes: overlay from '../ProductCard/ProductCard.module.css';
}

.popup {
    composes: popup from '../ProductCard/ProductCard.module.css';
}

.closeBtn {
    composes: closeBtn from '../ProductCard/ProductCard.module.css';
}

.closeBtn:hover {
  color: orange;
  cursor: pointer;
}

@media (max-width: 500px) {
    .cartList {
        display: grid; justify-content: center; gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        text-align: center;
    }

    .popup {
        width: 60%;
        display: flex; justify-content: center; align-items: center; gap: 12px;
    }

    .closeBtn {
        font-size: 16px;
    }

    .checkout {

        button {
            width: 30%;
            text-align: center;
        }
    }
}