html, body {
    margin: 0; padding: 0;
    font-family: monospace;
}

.layout {
    display: flex; flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.footer {
    margin-top: 20px; padding: 8px;
    text-align: center;
    background-color: #b4afaf;
}

.navContainer {
    position: sticky; top: 0;
    z-index: 100;
    display: flex; justify-content: space-between; align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #99c7f5;
    
    a {
        flex: 1;
        display: flex; justify-content: center; align-items: center;
        padding: 12px;
        color: #000000;
        text-decoration: none;
        font-size: 20px; 
    }
    
    a:hover {
        background-color: #52a8ff;
    }
}